
<h4>Search for a joke</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchForm">
            <div class="form-group">
                <label for="searchPhrase" class="control-label">Question part</label>
                <input name="searchPhrase" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-action="Index" type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
